.popupForm {
	padding:10px;
}
.popupForm .formString {
	width:100%;
	margin-bottom:5px;
}
.popupForm .formText {
	width:100%;
	max-width:100%;
	min-width:100%;
	min-height:50px;
	margin-bottom:5px;
}
.popupForm .formTable {
	margin-bottom:5px;
}
.nodeDetails_Desc .nodeDesc,.groupDetails .groupDesc {
	min-height:100px;
}
